<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task1">Task1</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task2">Task2</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task3">Task3</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task4">Task4</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task5">Task5</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task6">Task6</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/task7">Task7</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/templateform">Template Form</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary col-md-12 margin" routerLink="/reactiveform">Reactive Form</button>
        </div>
    </div>
</div>
<br/>